:root {
  --button-text-color: rgba(151, 151, 151, 1);
  --button-text-color-hover: rgb(180, 180, 180);
  --button-text-color-active: rgba(255, 255, 255, 1);
  --menu-color: rgba(47, 47, 47, 1);
  --main-text-color: rgba(255, 255, 255, 1);
  --gradient-light: rgba(60, 60, 60, 1);
  --gradient-dark: rgba(34, 34, 34, 1);
  --accent-color: rgba(218, 198, 24, 1);
}

* {
  margin:0px;
  padding: 0px;
}

body {
  height: 100svh;
  background: linear-gradient(to bottom, var(--gradient-light), var(--gradient-dark));
  color: var(--main-text-color);
}

.menu {
  box-shadow: 0px -2px 5px rgba(0,0,0,0.5);
  margin:0px;
  height: 8%;
  position:fixed;
  bottom:0;
  background-color: var(--menu-color);
  width:100%;
  align-content: center;
}

.menu ul {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  background-color: var(--menu-color);
  margin: auto;
  
}

.menu ul .button {
  background-color: var(--menu-color);
  height: 100%;
  margin:auto;
  padding: auto;
  width:20%;
  text-align: center;
}

.menu li {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.menu .button {
  color: var(--button-text-color);
  transition-duration: 300ms;
}
.menu .button:link {
  text-decoration: none;
}
.menu .button:visited {
  color:var(--button-text-color);
}
.menu .button:hover {
  transition-duration: 300ms;
  color: var(--button-text-color-hover);
}

.menu .bi {
  font-size: 3vh;
  margin-top: 0.8vh;
}

.menu .button-text {
  margin:0;
  font-size: 2vh;
}

.active .bi, .active .button-text{
  color: var(--button-text-color-active);
}

@media (max-width: 1281px) {
  .menu .button-text {
    visibility: hidden;
  }
  .menu ul {
    width: 100%;
  }
  .menu .bi {
    font-size: 5vh;
    margin: 0.5vh;
  }

}

@media (max-width: 720px) {
  
  .menu .button-text {
    display: none;
  }
  .menu ul {
    width: 100%;
  }
  .menu ul .button {
    width: 20%;
  }
  .menu .bi {
    font-size: 5vh;
    margin: 0.5vh;
  }

}
/*
.wrap {
  display: flex;
  width:50%;
  height: 100%;
  margin: 0px auto 0px auto;
  background-color: aqua;
  justify-content: center;
}
.bttn-text {
   text-decoration: none; 
}
.bttn {
  padding: auto;
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  height: 90%;
  width: 15%;
  margin: auto auto auto auto;
  text-align: center;
  border-radius: 25px;
}*/