:root {
    --task-bg-color: rgba(64, 64, 64, 1);
    --accent-color: rgba(218, 198, 24, 1);
}

.tasks-wrapper {
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 1%;
    height: auto;
    max-height: 92svh;
}

.empty {
    width: 40%;
    font-size: 3vh;
    height: 10svh;
    margin: auto auto 20px auto;
    text-align: center;
    border-radius: 2vh;
    background-color: var(--task-bg-color);
    box-shadow: 0px 0px 10px var(--button-text-color-hover);
}

.empty-text {
    margin: 2.5svh auto auto auto;
}

.task {
    box-shadow: 0px 0px 5px rgba(255,255,255,0.3);
    display: block;
    margin: 0 1% 1% 1%;
    border-radius: 1vh;
    background-color: var(--task-bg-color);
    transition-duration: 800ms;
}
.task:hover {
    box-shadow: 0px 0px 15px var(--accent-color);
    transition-duration: 700ms;
}

.desc, .deadline {
    font-size: 2vh;
}

.desc {
    margin-top: 1%;
    white-space: break-word;
    margin-left: 2%;
    width: 96%;
    margin-right: 2%;
}

.deadline {
    text-align: right;
    margin-bottom: 1%;
    margin-right: 2%;
}
@media (orientation: portrait) {
    .tasks-wrapper {
        width: 90%;
    }
    .empty {
        width: 60%;
    }
    
}

@media (orientation: landscape) and (max-width: 1281px) {
    .tasks-wrapper {
        width: 80%;
    }
    
}
  