:root {
    --task-bg-color: rgb(189, 19, 204);
}

/* body {
    height: 100vh;
    width: 100vw;
} */

.tasks-wrapper {
    background-color: aqua;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    padding-top: 1%;
    overflow-y: auto;
    /* height: 92svh; */
}

.empty {
    text-align: center;
    background-color: rgb(8, 255, 28);
    padding: auto;
}

.task {
    display: block;
    margin: 0 1% 1% 1%;
    border-radius: 1vh;
    background-color: var(--task-bg-color);
}

.desc, .deadline {
    font-size: 2vh;
}

.desc {
    margin-top: 1%;
    white-space: break-word;
    margin-left: 2%;
    width: 96%;
    margin-right: 2%;
}

.deadline {
    text-align: right;
    margin-bottom: 1%;
    margin-right: 2%;
}

@media (max-width: 1281px) {
    .tasks-wrapper {
        width: 90%;
    }
  
  }
  
  @media (max-width: 720px) {
  
    
  }