<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "changePassword.css" %}">
    <!-- <link rel="icon" type="image/x-icon" href="{% static "icons/box-arrow-in-right.svg" %}"> -->
    <title>Вход</title>
</head>
<body>
    <div class="form-wrapper">
        {{us}}
        <form action="/changePassword/" method="post">
            {% csrf_token %}
            <h2>СМЕНА ПАРОЛЯ</h2>
            <input type="text" class="form-control" name="old" id="old" placeholder="Старый пароль" required>
            <input type="text" class="form-control" name="new" id="new" placeholder="Новый пароль" required>
            <input type="text" class="form-control" name="newAgain" id="newAgain" placeholder="Подтверждение пароля" required>
            <button type="submit" class="btn btn-primary">Изменить пароль</button>
        </form>
    </div>
    <div class="message">
        {% for message in messages %}
        <span class="message">{{message}}</span>
        <!-- <div class="message">
            {{message}}
        </div> -->
        {% endfor %}
    </div>
</body>
</html>