<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "main.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
    <link href="
https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.min.css
" rel="stylesheet">
    <link rel="stylesheet" href="{% static "menu-style.css" %}">
    <link rel="icon" type="image/x-icon" href="{% static "icons/house-door-fill.svg" %}">
    <title>Главная</title>
</head>
<body>
    <div class = "beginning-button"><span>Начать работу</span> </div>


    <div class="salary">{{salary}} <span style ="color: yellow">₽</span> <br /><span style ="font-size: 25px; color: #808080">Ожидаемая зарплата</span></div>
    <div class="duties-wrapper">
      <div class = "headline">{{post}}</div>
      {% for i in duties %}
      <div class="duty">
        <div class="desc">{{i}}</div>
      </div>
      {% empty %}
      <div class="empty">Обязанностей нет! =)</div>
      {% endfor %}

    </div>



  
    <div class="menu">
      <ul>
        <a href="/main" class="button main active"><li>
          <i class="bi bi-house-door-fill"></i><span class="button-text">ГЛАВНАЯ</span>
        </li></a>
        <a href="/tasks" class="button tasks"><li>
          <i class="bi bi-list-check"></i><span class="button-text">ЗАДАЧИ</span>
        </li></a>
        <a href="/team" class="button team"><li>
          <i class="bi bi-people-fill"></i><span class="button-text">КОМАНДА</span>
        </li></a>
        <a href="/me" class="button me"><li>
          <i class="bi bi-person-lines-fill"></i><span class="button-text">ПРОФИЛЬ</span>
        </li></a>
      </ul>
    </div>
</body>
</html>
