<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "tasks.css" %}">
    <link rel="stylesheet" href="{% static "menu-style.css" %}">
    <link rel="icon" type="image/x-icon" href="{% static "icons/list-check.svg" %}">
    <link href="
https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.min.css
" rel="stylesheet">
    <title>Задачи</title>
</head>
<body>
    <div class="tasks-wrapper">
      {% for i in data %}
      <div class="task">
        <div class="desc">{{i.desc}}</div>
        <div class="deadline">{{i.deadline}}</div>
      </div>
      {% empty %}
      <div class="empty"><div class="empty-text">Задач нет! =)</div></div>
      {% endfor %}
      
    </div>

    <div class="menu">
        <ul>
          <a href="/main" class="button main"><li>
            <i class="bi bi-house-door-fill"></i><span class="button-text">ГЛАВНАЯ</span>
          </li></a>
          <a href="/tasks" class="button tasks active"><li>
            <i class="bi bi-list-check"></i><span class="button-text">ЗАДАЧИ</span>
          </li></a>
          <a href="/team" class="button team"><li>
            <i class="bi bi-people-fill"></i><span class="button-text">КОМАНДА</span>
          </li></a>
          <a href="/me" class="button me"><li>
            <i class="bi bi-person-lines-fill"></i><span class="button-text">ПРОФИЛЬ</span>
          </li></a>
        </ul>
      </div>
</body>
</html>