<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
    <link href="
https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.min.css
" rel="stylesheet">
    <!-- <link rel="stylesheet" href="css/bootstrap-theme.css"> -->
    <link rel="stylesheet" href="{% static "team.css" %}">
    <link rel="stylesheet" href="{% static "menu-style.css" %}">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
  <div class="team-wrapper">
    <div class="team-block">
      <div class="team-name">{{team.name}}</div>
      <div class="team-main-task">{{team.mainTask}}</div>
    </div>

    <div class="worker-block">
      {% for person in workers %}
      <div class="worker">
        <i class="bi bi-person-circle"></i>
        <span class="name">{{person.name}}</span>
        {% if person.isLeader %}
          <span class="leader">Лидер</span>
        {% endif %}
        <a href="https://t.me/{{person.phoneNumber}}" target="_blank" rel="noopener noreferrer" class="bi bi-telegram"></a>
        <a href="#" class="bi bi-envelope-fill"></a>
        <a href="#" class="bi bi-telephone-fill"></a>
      </div>
      {% endfor %}
    </div>
  </div>
  




  
    <div class="menu">
      <ul>
        <a href="/main" class="button main"><li>
          <i class="bi bi-house-door-fill"></i><span class="button-text">ГЛАВНАЯ</span>
        </li></a>
        <a href="/tasks" class="button tasks"><li>
          <i class="bi bi-list-check"></i><span class="button-text">ЗАДАЧИ</span>
        </li></a>
        <a href="/team" class="button team active"><li>
          <i class="bi bi-people-fill"></i><span class="button-text">КОМАНДА</span>
        </li></a>
        <a href="/me" class="button me"><li>
          <i class="bi bi-person-lines-fill"></i><span class="button-text">ПРОФИЛЬ</span>
        </li></a>
      </ul>
    </div>
</body>
</html>
