.bttns {
    background-color: blue;
    border-radius: 100px;
    /* width: 50%; */
    text-align: center;
    display: block;
    margin: auto;
    padding: 15px;
    
}

.wrapper {
    width: 90%;
    position: fixed;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

a {
    /* text-decoration: none; */
    color: red;
    width: 25%;
    background-color: red;
}

ul {
    list-style-type: none;
    display: flex;
    
}