* {
    margin:0;
    padding:0;
}

html, body {
    background: #f8f8f8;
    height: 100%;
}

.main {
    /*background-color : #007700;*/
    position: absolute;
    /* flex: 1 1 auto; */
    /* height: 100%; */
    width: 100%;
    margin: 0%;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
footer {
    height: 8%;
    width: 100%;
    left:0;
    bottom:1%;
    position: fixed;
    
}
.navbar {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(36, 36, 36);
    height: 100%;
    border-radius: 500px;
    width: 45%;
    min-width: 300px;
    display: flex;
    
}
.selector {
    height: 76%;
    width: 18%;
    min-width: 80px;
    border-radius: 500px;
    margin:auto;
    
    text-align: center;
    display: flex;
    background-color: #708090;
}
.selector a {
    margin: auto;
    color:whitesmoke;
    font-size: 26px;
}
.right {
    margin-right: 1.55%;
}
.left {
    margin-left: 1.55%;
}

.task {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding: 10px; 
    background-color: antiquewhite;
    width: 70%;
}
.desc {
    margin-right: 8px;
    margin-left: 8px;
    text-align: left;
    font-size: 20px;
}
.deadline {
    bottom:0;
    font-size: 18px;
    margin: 5px;
    margin-bottom: 0px;
    text-align: right;
    margin-right: 7%;
}
.textt {
    text-decoration: none;
}